* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    to right top,
    #6b8fd1,
    #7091d5,
    #7594da,
    #7a96de,
    #7f98e2,
    #69a4ef,
    #4ab0f9,
    #00bcff,
    #00d3ff,
    #00e6e4,
    #00f4ab,
    #5ffb5f
  );
  color: white;
}
nav {
  background-color: rgba(255, 255, 255, 0.599);
  backdrop-filter: blur(25px) saturation(180%);
  border: 0.5px solid white;
  width: 100%;
  height: 30px;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
}
.nav-list {
  text-decoration: none;
  color: black;
}
.nav-li {
  display: inline;
  margin-right: 50px;
  padding: 10px;
}
.name {
  text-align: center;
  padding: 20px;
  background: linear-gradient(green, yellow);
  background-clip: text;
}
hr {
  border: 0.5px solid yellow;
  width: 60%;
  margin: 0px auto;
}
section {
  padding: 45px 20px;
  text-align: center;
  background: linear-gradient();
  margin-top: 10px;
}
#about {
  text-align: center;
}
.info {
  width: 500px;
  margin: 10px auto;
}
.projects {
  font-family: sans-serif;
  font-size: 20px;
  height: 600px;
}
.card {
  height: 200px;
  width: 200px;
  box-shadow: 5px 10px 50px rgba(255, 238, 0, 0.89);
  margin-top: 40px;
  transition: all 0.2s ease-in;
}
.card:hover {
  box-shadow: 5px 10px 50px rgb(255, 0, 221);
  transform: translateY(-10px);
  transform: scale(1.1);
}
.card .card-img {
  width: 280px;
  background-color: black;
  border-radius: 10px 10px 0px 0px;
}
.proj-image {
  width: 280px;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 10px;
}
.card-data {
  background-color: black;
  color: white;
  padding: 10px;
  width: 280px;
  border-radius: 0px 0px 10px 10px;
}
.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}
.card-info {
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 500px;
  font-family: sans-serif;
}
.card-tech {
  font-size: 8px;
  font-weight: 600;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 20px;
}
.btn {
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  color: black;
  font-size: 12px;
  font-weight: 700;
  padding: 1px;
  border-radius: 5px;
  margin-top: 12px;
  margin-bottom: 10px;
}
.btn:hover {
  background: linear-gradient(90deg, #0700b8 0%, #00ff88 100%);
  transform: scale(1.1);
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
