* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(24, 49, 192);
  color: white;
}

/* Navigation */
nav {
  background-color: rgba(255, 255, 255, 0.445);
  backdrop-filter: blur(10px) saturation(280%);
  width: 100%;
  border: 0.1px solid white;
  text-align: center;
  margin: 10px auto;
  padding: 8px;
  border-radius: 10px;
  position: fixed;
}

.nav-list {
  color: black;
  text-decoration: none;
  font-weight: 550;
}

.nav-li {
  display: inline;
  margin-right: 50px;
}

/* Hero section */
.hero {
  width: 100%;
  height: 100vh; /* FULL SCREEN */
  overflow: hidden;
  position: relative;
}

.bgvideo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* KEY FIX */
}
